<h1>Users#validate_user_name</h1>




<p>Find me in app/views/users/validate_user_name.html.erb</p>
<p>Find me in app/views/users/validate_user_name.html.erb</p>


<p>
  It is now <%= @msg %>
  <br>

  Params =  <%= @data %>
</p>